<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lanou3g.record"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.RecordApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lanou3g.record.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.RoundPagerActivity"
            android:label="@string/first_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.RoundMVPActivity"
            android:label="@string/round_mvp_aty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.TestActivity02"
            android:label="@string/second_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.TimeDescriptionAty"
            android:label="@string/third_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.LinkageActivity"
            android:label="@string/linkage_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.TestActivity04"
            android:label="@string/fouth_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.NavigationDrawerAty"
            android:label="@string/title_activity_navigation_drawer_aty"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.Calculate"
            android:label="@string/calculate"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.ScanActivity"
            android:label="二维码/ScanActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.CreateQRCodeAty"
            android:label="二维码/CreateQRCodeAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lanou3g.record.ui.activity.NotificationAty"
            android:label="NotificationAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.NewActivity"/>
        <activity
            android:name=".ui.activity.AdapterActivity"
            android:label="ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lanou3g.record.DEMO_CODE"/>
            </intent-filter>
        </activity>

        <!--信鸽推送-->
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action"/>
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK"/>
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT"/>

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>

                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2"/>

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.lanou3g.record.PUSH_ACTION"/>
            </intent-filter>
        </service>
        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100185925"/>
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A4A28KP7XW2Y"/>
    </application>

</manifest>
